<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <title>Index Page</title>
        <script src="js/angular.min.js" type="text/javascript" charset="utf-8"></script>
        <script src="js/test.js" type="text/javascript" charset="utf-8"></script>
    </head>
    <body>
        <h1> Hello World</h1>
        <p>
            this is my first time to meet you, so 
        </p>
        <div ng-app="test" ng-controller="Page" ng-click="Page.clickFunc()">
            at remote host
        </div>
    </body>
</html>

